html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==", crossorigin="anonymous")
  body
    .container-fluid
      .jumbotron
        h1.display-3 Hello, world!
        p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        hr.m-y-2
        p It uses utility classes for typography and spacing to space content out within the larger container.
        p.lead
        a(class="btn btn-primary btn-lg" href="#" role="button") Learn more
    